@use "../utilities/variables";
/* contenido de contacto */

.contact-subtitle {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

.contact-form {
    padding: 20px 0;
    background: url(./assets/bg-dos.webp) center / cover;

    div {
        background-color: variables.$transtparent-dark-color;
        border-radius: 5px;
        margin: 30px 0;

        label {
            text-transform: uppercase;
            padding: 10px;
        }
    }
}

.enviar-button {
    background-color: variables.$principal-color;
    color: variables.$light-color;
    border-color: variables.$principal-color;
    text-transform: uppercase;

    &:hover {
        background-color: variables.$hover-button-color;
    }
}