@use "../utilities/variables";
@import "../utilities/mixins";
/* contenido de productos */

.h2-productos {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

.subtitulos-categorias {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.nav-productos {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        border: variables.$light-color 1px solid;
        border-radius: 5px;
        margin: 5px;

        a {
            color: variables.$light-color;
            text-decoration: none;
            text-transform: uppercase;
            margin: 10px;
            display: block;
            padding: 15px;

            &:hover {
                background-color: variables.$principal-color;
                border-radius: 5px;
            }
        }
    }
}

.item-producto-name {
    color: variables.$light-color;
    text-align: start;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
}

label {
    text-align: center;
    padding: 5px;
}

.item-producto {
    @include flex(wrap, center, 20px);

    img {
        width: 300px;
        height: 300px;
        border: variables.$light-color 1px solid;
        border-radius: 5px;
        margin: 20px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.card-propia {
    margin: 10px;
    background-color: #151515;
}

@media(max-width: 450px) {
    .item-producto {
        justify-content: center;
    }
}