@use "../utilities/variables";
/* contenido de sobre nosotros */

.sobreNosotros-content {
    border: variables.$principal-color 1px solid;
    border-radius: 5px;
    margin: 5px;
    h2{
        color: variables.$principal-color;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        padding: 20px;
    }
    p{
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    h3{
        color: variables.$principal-color;
        text-align: center;
    }
}