* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #eee;
  background-color: #111;
}

/* h1-logo */
h1 {
  margin: 15px;
  text-transform: uppercase;
  text-align: center;
}

/* contenido main */
.contenido-main {
  width: 100%;
  height: 600px;
  background: url(./assets/bg-m.webp) center/cover;
}
.contenido-main h2 {
  text-align: center;
  font-size: 64px;
  padding: 100px 0 50px 0;
  text-shadow: 2px 2px 5px #000;
}
.contenido-main p {
  text-align: center;
  font-size: 30px;
  padding: 0 0 125px 0;
  text-shadow: 2px 2px 2px #000;
}
.contenido-main a {
  font-size: 20px;
  border: #a81ef8 solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #eeeeee;
  text-decoration-line: none;
  background-color: #a81ef8;
}
.contenido-main a:hover {
  background-color: #5c048f;
}

@media (max-width: 450px) {
  .contenido-main h2 {
    font-size: 50px;
  }
  .contenido-main p {
    font-size: 20px;
  }
}
/* contenido barra de navegacion */
.nav-icon {
  color: #eeeeee;
  margin: 5px;
  font-size: 32px;
  border: #a81ef8 1px solid;
  padding: 0 15px;
  border-radius: 5px;
}
.nav-icon:hover {
  color: #eeeeee;
  background-color: #a81ef8;
}

.nav-propio {
  background-color: #111111;
  margin: 20px;
}
.nav-propio li a {
  color: #a81ef8;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-propio li a:hover {
  color: #eeeeee;
  border: #eeeeee 1px solid;
  border-radius: 5px;
}

.button-propio {
  color: #eeeeee;
  border-color: #eeeeee;
}
.button-propio:hover {
  background-color: #a81ef8;
  border-color: #251552;
}

/* contenido de productos */
.h2-productos {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.subtitulos-categorias {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.nav-productos ul {
  display: flex;
  justify-content: center;
  list-style: none;
  border: #eeeeee 1px solid;
  border-radius: 5px;
  margin: 5px;
}
.nav-productos ul a {
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  display: block;
  padding: 15px;
}
.nav-productos ul a:hover {
  background-color: #a81ef8;
  border-radius: 5px;
}

.item-producto-name {
  color: #eeeeee;
  text-align: start;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

label {
  text-align: center;
  padding: 5px;
}

.item-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.item-producto img {
  width: 300px;
  height: 300px;
  border: #eeeeee 1px solid;
  border-radius: 5px;
  margin: 20px;
}
.item-producto img:hover {
  transform: scale(1.1);
}

.card-propia {
  margin: 10px;
  background-color: #151515;
}

@media (max-width: 450px) {
  .item-producto {
    justify-content: center;
  }
}
/* contenido de sobre nosotros */
.sobreNosotros {
  padding: 20px 0;
  background: url(./assets/bg-dos.webp) center/cover;
}

.sobreNosotros-content {
  background-color: rgba(0, 0, 0, 0.9607843137);
  border-radius: 10px;
  margin: 25px;
}
.sobreNosotros-content h2 {
  color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 20px;
}
.sobreNosotros-content h3 {
  color: #eeeeee;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
}
.sobreNosotros-content p {
  padding: 15px;
  text-align: center;
}

/* contenido de contacto */
.contact-subtitle {
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
}

.contact-form {
  padding: 20px 0;
  background: url(./assets/bg-dos.webp) center/cover;
}
.contact-form div {
  background-color: rgba(0, 0, 0, 0.9607843137);
  border-radius: 5px;
  margin: 30px 0;
}
.contact-form div label {
  text-transform: uppercase;
  padding: 10px;
}

.enviar-button {
  background-color: #a81ef8;
  color: #eeeeee;
  border-color: #a81ef8;
  text-transform: uppercase;
}
.enviar-button:hover {
  background-color: #5c048f;
}

/* contenido de opiniones*/
.opiniones-subtitle {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.opiniones-content {
  padding: 20px 0;
  background: url(./assets/bg-dos.webp) center/cover;
}

.opiniones-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.opiniones-card div {
  margin: 20px;
}

.form-subtitle {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.9607843137);
  padding: 10px;
}

.opiniones-form {
  margin: 5px;
}

/* footer general */
.footer-content {
  padding: 15px 0;
  text-align: center;
}
.footer-content div a {
  margin: 0 12px;
  text-decoration: none;
  color: #eeeeee;
}
.footer-content div a:hover {
  text-decoration: underline;
}

.footer-p {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
